name: Build Vite Project 

on:
  push:
    branches: 
      - [main]
      pull_request:

      jobs: 
        build: 
          runs-on: ubuntu_latest

          steps: 
            - name: Checkout code 
              uses: actions/checkout@v3
              with: 
                node-version: 20 

            - name: Install dependencies 
              run: npm install 

            - name: Build project 
              run: npm run build 

            - name: upload dist folder 
              uses: actions/uploud-artifact@v3
              with: 
                name: dist 
                path: dist 
          
